@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url("~fonts/PoppinsRegular.eot");
        src:
            url("~fonts/PoppinsRegular.eot") format("embedded-opentype"),
            url("~fonts/PoppinsRegular.woff2") format("woff2"),
            url("~fonts/PoppinsRegular.woff") format("woff"),
            url("~fonts/PoppinsRegular.ttf") format("truetype"),
            url("~fonts/PoppinsRegular.svg#PoppinsRegular") format("svg");
    }
}
